{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load sorting_tags %}
{% load i18n %}
{% load widget_tweaks %}

{% block body_class %}{{ block.super }} orders{% endblock %}

{% block title %}
    {% trans "Orders" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Orders" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1>{% trans "All products ordered" %} {% if partner %}from {{partner}}{% endif %}</h1>
        {% if request.user.is_staff %}
        <h4>View products ordered from: <select name="partners" style="width:300px;">
            <option value="all">All partners</option>
          {% for p in partners %}<option value="p.partner-code">{{p}}</option>{% endfor %}
          </select>
        {% endif %}
          <hr />
        <h4>View products ordered for: <a href="?from_date=&to_date=">This week</a> &bull; <a href="?from_date=&to_date=">Last week</a> &bull; <a href="?from_date=&to_date=">Next week</a></h4>

    </div>
{% endblock header %}

{% block dashboard_content %}

    {% if orders %}
        <form action="." method="post" class="order_table" id="orders_form">
            {% csrf_token %}
            {% include "dashboard/orders/partials/bulk_edit_form.html" with status=active_status %}

            {% block order_list %}
            <table class="table table-striped table-bordered table-hover">
                <caption>
                    <h3 class="pull-left"><i class="icon-shopping-cart icon-large"></i>
                        {% if search_filters %}
                        {% trans "Order Search Results" %}
                        {% else %}
                        {% trans "All products ordered" %}
                        {% endif %}
                    </h3>
                    <div class="pull-right">
                        <div class="form-inline">
                            <label>{% trans "Download selected orders as a CSV" %}</label>
                            <button type="submit" class="btn btn-primary" name="action" value="download_selected_orders" data-loading-text="{% trans 'Submitting...' %}">{% trans "Download" %}</button>
                        </div>
                    </div>
                </caption>

                <thead>
                    <tr>
                        <th></th>
                        <th>{% anchor 'product' _("Product") %}</th>
                        <th>{% trans "SKU" %}</th>
                        <th>{% trans "Number of items" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td><input type="checkbox" name="selected_order" class="selected_product" value="{{ product.product.parent.sku}}"/></td>
                        <td><a href="{% url 'dashboard:catalogue-product' product.product.id %}">{% if product.product.parent %}{{product.product.parent}} - {% endif %}{{ product.product }}</a></td>
                        <td>{{ product.sku }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'dashboard:catalogue-product' product.product.id %}">{% trans "View" %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock order_list %}
            {% block order_actions %}
            {% endblock %}

            {% include "dashboard/orders/partials/bulk_edit_form.html" with status=active_status %}
            {% include "dashboard/partials/pagination.html" %}
        </form>
    {% else %}
        <table class="table table-striped table-bordered">
            <caption><i class="icon-shopping-cart icon-large"></i>
                {% if search_filters %}
                {% trans "Order Search Results" %}
                {% else %}
                {% trans "All Orders" %}
                {% endif %}
            </caption>
            <tr><td>{% trans "No orders found." %}</td></tr>
        </table>
    {% endif %}

    {% endblock dashboard_content %}

    {% block onbodyload %}
        {{ block.super }}
        oscar.dashboard.orders.initTable();
        oscar.dashboard.search.init();
        {% if form.errors %}
        $('#SearchModal').modal('show');
        {% endif %}
    {% endblock onbodyload %}
